.capabilities {
    margin-top: 128px;
}

.wrapper__services {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 941px;
    margin-left: auto;
    margin-right: auto;
    
}

.wrapper__button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 588px; /* ?? */
    margin-bottom: 78px;
}

.wrapper__text h2 {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 2.3062498569488525px;
    text-align: left;
    color: #48555B;
}

.underline__services {
    max-width: 50px;
    height: 2px;
    border-top: 2px solid #00A4E5;
    margin-top: 10px;
}

.text__services {
    font-family: Open Sans;
font-size: 11px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0.20000000298023224px;
text-align: left;
color: #48555B;
}

.wrapper__button button {
    font-family: Open Sans;
font-size: 13px;
font-weight: 700;
line-height: 18px;
letter-spacing: 0.5px;
text-align: center;
color:#ffffff;
background-color: #00A4E5;
border: none;
width: 150px; /* ??? */
height:40px;
}

.wrapper__button button:hover {
    background-color: #adc4ce;
    transition: 0.3s;
}

.wrapper__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 941px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    margin-bottom: 115px;
}
.wrapper__cards .card:nth-child(2) {
    margin-left: 27px;
    margin-right: 27px;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid #E6E6E6;
    padding: 38px 23px;
}

.card p:nth-child(2) {
font-size: 16px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0.4266666769981384px;
text-align: left;
color: #48555B;
}

.card p:nth-child(3) {
font-size: 13px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0.18750004470348358px;
text-align: left;
color: #48555B;
margin:0;
}

.card img {
    padding:0;
}

.card p:nth-child(2) {
    margin: 0;
    padding-top: 25px;
    padding-bottom: 13px;

    }

    .card p {
        width: 250px;
    }